* {
  margin: 0;
  padding: 0;
}
body{
    background: lightgrey;
}

.collapse{
    max-width: 1300px;
    width: 100%;
    margin: auto;
}

.fab {
  padding: 10px;
  margin-right: 10px;
  background-color: lightgray;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  border-radius: 50%;
}

.fas, .far{
    height: 30px;
    color: #00ffdc;
}
.header__logo-mobile{
    max-width: 100vw;
    width: 100%;
    position: relative;
    background-color: #fff;
    top: -1px;
    left: 0;
    opacity: 1;
    z-index: 5;
}
.header__logo-desktop{
    max-width: 100vw;
    width: 100%;
    position: absolute;
    background-color: #fff;
    top: -1px;
    left: 0;
    opacity: 0.9;
    z-index: 5;
}

@media(min-width: 992px){
    .header__logo-mobile{
        display: none;
    }
}

@media(max-width: 992px){
    .header__logo-desktop{
        display: none;
    }
}


.header__logo-inside{
    max-width: 1300px;
    width: 100%;
    margin: auto;
}
 .logo{
    width: 150px;
    height: 70px;
}
.btn-call{
    float: right;
    margin-top: 6px;
    margin-right: 0px;
    width: 200px;
    height: 55px;
    background: orange;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 0;
}

.service h1, h5{
    text-align: center;
}
.card{
    border: none;
    text-align: center;
}

.app-photo{
    max-width: 600px;
    width: 100%;
}
.footer{
    padding-bottom: 70px;
}
.footer .text-white{
    text-align: center;
}

